[project]
	description = test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anurag0486
[access "refs/for/refs/*"]
	read = group user/anurag0486
	push = group user/anurag0486
	label-Code-Review = -2..+2 group user/anurag0486
	label-Verified = -1..+1 group user/anurag0486
	rebase = group user/anurag0486
	removeReviewer = group user/anurag0486
	submit = group user/anurag0486
[access "refs/heads/*"]
	read = group user/anurag0486
	create = group user/anurag0486
	push = +force group user/anurag0486
	pushMerge = group user/anurag0486
[access "refs/tags/*"]
	push = group user/anurag0486
	push = +force group user/anurag0486
